html {
    scroll-behavior: smooth
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-image: linear-gradient(to top, #30cfd0 0, #330867 100%);
    background-attachment: fixed;
    color: #c5c6c7;
    height: 80vh;
}

.home {
    margin: 20px;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.1em;
    float: left;
    text-transform: uppercase;
}

.nav {
    
    position: sticky;
    text-transform: capitalize;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.botton {
    padding-right: 14px;
    text-decoration: none;
    font-size: 1.2em;
    color: inherit;
    transition: all .3s ease-in-out;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.menu a:hover {
    transform: translateX(-4px) translateY(-4px) translateZ(2px);
}

.resume-wrapper {
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.intro {
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#propic {
    border-radius: 5%;
    display: flex;
    float: right;
}

#name {
    background: linear-gradient(to right, #121fcf 0, #cf1512 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8em;
    text-transform: uppercase;
}

.table,
td,
th {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100vh;
    border-radius: 5px;
    padding-left: 15px;
}


section {
    padding: 10px;
}

#education,
#experience,
#fellowships,
#leadership,
#membership,
#referance,
#work-experience,
#workshop {
    background: rgba(3, 3, 3, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 1em;
    border-left: 5px solid #330867;
    border-radius: 25px;
    color: #c5c6c7;
    font-size: 1em;
    text-transform: capitalize;
    padding-left: 15px;
    padding-bottom: 10px;
}

.detail {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}
